.navbar {
    margin: 0 auto;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 3;
    background: rgb(244, 243, 255);
}

.logo {
    text-decoration: none; 
    font-family: "Titan One", sans-serif;
    font-size: 2rem;
    color: rgb(250, 107, 86);
}

.nav-item a {
    color: #333;
}

.nav-item a:hover {
    text-decoration: underline;
}